<html>
<title>subversion commit nofification</title>
<link rel="stylesheet" href="css/default.css">
<body>
<script src="js/notify.js"></script>
<script>
    function fetchandnotify(base_rev = 0) {
        url = 'fetch'
        if (base_rev != 0) {
            url += '?base_rev=' + base_rev
        }
        fetch(url).then(function(response) {
            return response.json();
        }).then(function(json) {
            if (json.status == 'success') {
                // jsonにJSONオブジェクトで結果が渡される
                // ブラウザ通知
                spawnNotification(json.msg, 'icoon-mono.png', json.author);
                // リスト画面リロード
                location.reload();
            }
            // delay後に自身を再呼び出し
            // setTimeoutのコールバックに引数を渡すには無名関数でラップしないと正しくdelayしない
            setTimeout(function(){fetchandnotify(json.newest_rev)}, 30 * 1000);
        });
    }
    fetchandnotify();
</script>

<div id="list">
    <table class="rev_list">
    <tr>
        <th>revision</th>
        <th>date</th>
        <th>author</th>
        <th>message</th>
    </tr>
    <% @items.each do |item| %>
        <tr>
            <td><%= item[:revision] %></td>
            <td><%= item[:date] %></td>
            <td><%= item[:author] %></td>
            <td><%= item[:msg] %></td>
        </tr>
    <% end %>
    </table>
</div>
</body>
</html>
