<html>
<title>Web notification sample aApplication.</title>
<body>
<script src="js/notify.js"></script>
<script>
    function fetchandnotify() {
        url = 'fetch'
        fetch(url).then(function(response) {
            return response.json();
        }).then(function(json) {
            if (json.status == 'success') {
                // jsonにJSONオブジェクトで結果が渡される
                document.getElementById("list").innerHTML += json.desc + '<br/>';
                // ブラウザ通知
                spawnNotification(json.desc, 'icoon-mono.png', json.app_name);
            }
            // delay後に自身を再呼び出し
            setTimeout(fetchandnotify(), 1000);
        });
    }
    fetchandnotify();
</script>

Notify list:<br/>
<div id="list"></div>
</body>
</html>
